.SearchResults {
  width: 100%;
  min-height: 550px;
  /* overflow-y: scroll; */
  padding: .88rem;
  background-color: #d0d9d5;
  box-shadow: 0 4px 2px 2px #000000;
  color: darkslategrey;
  text-align: center;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  
  
}

.SearchResults div a img {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  display: block;
  max-width: 100%;
  padding: 2px;
  object-fit: contain;
  /* border-radius: 5%; */
  opacity: 0.9;
  transition: transform .5s,
    opacity .5s;
    align-self: center;
    
}

.SearchResults div img:hover{
opacity: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);

}

.grid a{
  display: block;
}
.action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
  border: 0px;
  background-color:#0f05056b;
  color: #fff;
}

.action:hover {
  
  background-color: #1e2a4bd1;
}
/* .action{
  display: block;
} */
.border-image{
  padding: 5px;
  text-align: center;
  margin: 2%;
  border: 6px solid #808095;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
@media only screen and (max-width:660px) {
  .SearchResults{
    width: auto;
  }
  .grid{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .SearchResults div a img{
    height: 100%;
    padding: 0;
  }  
  .border-image{
    padding: 2%;
    margin: 1px;
    border: 1px solid #808095;
  }

 
}
