*{
  margin: 0;
  padding:0;
}

body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}
header{
  background-color: #010c3f;
}
header h1 {
  padding: .77rem 0;
  text-align: center;
  font-size: 1.88rem;
  color: #fff;
}

header h3 {
  color: #fff;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-color: plum;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  font-family: sans-serif;
  font-weight: 500;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

